.message-time, .message-direction, .message-ip {
	margin-right: 8px;
	border-right: 1px solid gray;
	padding-right: 8px;
}

button {
	outline: none !important;
	box-shadow: none !important;
}

.heading-with-badge {
	display: flex;
	align-items: center;
}

.heading-with-badge h1 {
	margin: 0;
}

.heading-with-badge .badge {
	margin-left: 32px;
	font-size: medium;
}